<VirtualHost *:80>
    ServerAdmin {{ simple_apache2_configuration_server_admin }}
    ServerName {{ simple_apache2_configuration_server_name }}
{% if simple_apache2_configuration_server_aliases is defined %}
    ServerAlias {{ simple_apache2_configuration_server_aliases | join(' ') }}
{% endif %}

{% if simple_apache2_configuration_redirect_to_https | bool %}
    Redirect permanent / https://{{ simple_apache2_configuration_server_name }}/

{% else %}
    DocumentRoot "{{ simple_apache2_configuration_server_documentroot }}"

    HostnameLookups {{ simple_apache2_configuration_hostnamelookups }}
    UseCanonicalName {{ simple_apache2_configuration_usecanonicalname }}
    ServerSignature {{ simple_apache2_configuration_serversignature }}

    <Directory "{{ simple_apache2_configuration_server_documentroot }}">

        Options Indexes FollowSymLinks
        AllowOverride None
        <IfModule !mod_access_compat.c>
            Require all granted
        </IfModule>
        <IfModule mod_access_compat.c>
            Order allow,deny
            Allow from all
        </IfModule>
    </Directory>

{% endif %}
</VirtualHost>

